* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 10px 0 0px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
    /* border: solid red; */
}

.inputbox label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-20%);
    /* color: #fff; */
    font-size: 0.75em;
    pointer-events: none;
    transition: 0.5s;
}

/* animations: start */
input:focus~label,
input:valid~label {
    top: -5px;
}

/* animation:end */
.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.85em;
    padding: 0 35px 0 5px;
    color: #479479;
}

.inputbox ion-icon {    
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 10px;
}

.fileSelector{
    margin: 10px;
}

.forget {
    margin: 10px 0 17px;
    font-size: 0.85em;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}


#addButton {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#addButton:hover{
    box-shadow: 2px 2px 20px white;        
}

@media screen and (max-width: 480px) {
    .form-box {
        width: 100%;
        border-radius: 0px;
    }
}

